.size { 
    position:relative;
}

.size .field {
    width:300px; 
    padding:10px; 
    border:none; 
    cursor:pointer;
    font-family:'lucida sans unicode',sans-serif; 
    font-size:1em;
    border:solid 1px #f6f6f6;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.size .field:hover {
    border:solid 1px #fff;
    -moz-box-shadow:0 0 5px #999;
    -webkit-box-shadow:0 0 5px #999; 
    box-shadow:0 0 5px #999;
}
.size>div.info { display:none;
    position:absolute; 
    left:0px; 
    top:0px; 
    z-index:999;
    width:500px;
    margin:0; 
    padding:10px; 
    background:#fff; 
    color:#333;
    -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;
    -moz-box-shadow:0 0 5px #999; -webkit-box-shadow:0 0 5px #999; box-shadow:0 0 5px #999
}
